<div class="row">
	<div class="col-12">	
		<a	[routerLink]="[index]"
			style="cursor: pointer;"
			class="list-group-item mb-2 clearfix"
			routerLinkActive="active">

			<div class="pull-left">
				<!-- string interpolation -->
				<h4 class="list-group-item-heading">{{recipe.name}}</h4>
				<p class="list-group-item-text">{{recipe.description}}</p>
				{{index}}
				{{stefan}}
			</div>
			<span class="pull-right">
				<!-- src property binding -->
				<img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 50px;">
			</span>
		</a>
	</div>
</div>